<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>GigaSpring Application</display-name>
    <description>Spring-based servlet application for Sprint3</description>

    <!-- FrontServlet Configuration -->
    <servlet>
        <servlet-name>front</servlet-name>
        <servlet-class>com.giga.spring.servlet.FrontServlet</servlet-class>
        <init-param>
            <param-name>controller-package</param-name>
            <param-value>com.giga.spring.controller</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- URL Mapping for FrontServlet -->
    <servlet-mapping>
        <servlet-name>front</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Welcome Files -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>hello.html</welcome-file>
    </welcome-file-list>

</web-app>
